[DEFAULT]
node_id : testing_node_2

[testing_node_2]
mgmt_long_keyindex : True
cryptokey : file#testing_node_2.crypto
ratchet : file#testing_node_2.seed

[testing_node_2-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v

[testing_node_2-denylist]

[testing_node_2-crypto]
maxage : 316224000
chain : base64#ksSaSWEvuhyFsaNjOvKUJP4aKaAUMK3UEs3RPHM1AtAdL7pBQkd0WZSij996fRMM6pghi+2ywZ+LYm7K1lrrzxATAZMAxDSRkqZ1c2FnZXOSs2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCD0FqHxgNdCcqaYdxBix141gkA04r5UGXvaWgpz9/hxVcUBCVHzLesV5+80apVgz6+dYME0lT8iADwW8L5A70zmhwuPTYaofWtWlgOHeeazR8i4zjWbeezlrLQU1QNPfbZcyQ2Ty0HeD9WaPmG7xJuSkqZ1c2FnZXOSs2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlkqZ0b3BpY3OTsnRlc3Rfb21zX2VuY3J5cHRlZL90ZXN0X29tc191bmRlY3J5cHRhYmxlX21lc3NhZ2Vz2Sl0ZXN0X2RhdGFfZmlsZV9zdHJlYW1fcHJvY2Vzc29yX2VuY3J5cHRlZMQgyqQWJkSys93sEG6TCCiBhUQx7P/86JgchfcrCM0uiV0=

[testing_node_2-kafka]
ssl_cafile : /usr/local/anaconda3/envs/openmsistream/lib/python3.9/site-packages/certifi/cacert.pem

[testing_node_2-kafka-consumer]

[testing_node_2-kafka-producer]

[testing_node_2-kafka-crypto]

[testing_node_2-kafka-crypto-consumer]

[testing_node_2-kafka-crypto-producer]

