[DEFAULT]
node_id : testing_node_2

[testing_node_2]
mgmt_long_keyindex : True
cryptokey : file#testing_node_2.crypto
ratchet : file#testing_node_2.seed

[testing_node_2-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v
rot0 : base64#kwDEAZDEIJSsMcv3TiBbSTy0svm44g61ZArvCl2M6u+D+LQU9KDD

[testing_node_2-denylist]

[testing_node_2-crypto]
maxage : 316224000

[testing_node_2-kafka]
ssl_cafile : /usr/lib/ssl/certs/ca-certificates.crt

[testing_node_2-kafka-consumer]

[testing_node_2-kafka-producer]

[testing_node_2-kafka-crypto]

[testing_node_2-kafka-crypto-consumer]

[testing_node_2-kafka-crypto-producer]

[testing_node_2-chains]
chain0 : base64#ksSmXbxVeC1Z9/N3Kr32GQ4X/ysMG6MLfkScg7BP62o2wYn7kKou5zZrAs+r3yqXsrU5K4fLNpdC7fArgb40R7grC5MAxECRkqZ1c2FnZXOTq2tleS1lbmNyeXB0s2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCAsCqb+lbC9njKkKC+0Qv4P0kb75TKftsc8lrYHHhPC4sUBfLw820AMJ5oA5nfDfKodqC3Fsd6fhxVjBK8hh2RaplApW07BuG3B6zb8XBzCdYDXKPyFhREHGUQJIVxVzj2q9g+Ty0HelgE08wRaxQENk5KmdXNhZ2Vzk6trZXktZW5jcnlwdLNrZXktZW5jcnlwdC1yZXF1ZXN0tWtleS1lbmNyeXB0LXN1YnNjcmliZZKmdG9waWNzlr10ZXN0X29tc19lbmNyeXB0ZWRfaGVhcnRiZWF0c7J0ZXN0X29tc19lbmNyeXB0ZWS3dGVzdF9vbXNfZW5jcnlwdGVkX2xvZ3PZJHRlc3Rfb21zX3VuZGVjcnlwdGFibGVfbWVzc2FnZXNfZmxhZ9kpdGVzdF9kYXRhX2ZpbGVfc3RyZWFtX3Byb2Nlc3Nvcl9lbmNyeXB0ZWS/dGVzdF9vbXNfdW5kZWNyeXB0YWJsZV9tZXNzYWdlc5KncGF0aGxlbgHEIDFMmDoEM1vsYqLQGNevkcuBBWxBdviqt7iYl8b32fKi

