[DEFAULT]
node_id : testing_node_2

[testing_node_2]
mgmt_long_keyindex : True
cryptokey : file#testing_node_2.crypto
ratchet : file#testing_node_2.seed

[testing_node_2-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v

[testing_node_2-denylist]

[testing_node_2-crypto]
maxage : 316224000
chain : base64#ksSa6/KelfRfEr9hj7e6iEOQ+J51++d15I4tKQA6zj5m1g+0IItpbrPDE1Rdi9bNwgcNrZlr1Onc+Ieuh57dMQBKApMAxDSRkqZ1c2FnZXOSs2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCDNSErp2SjY0X7Ncfv/U3Kor5Xf5fUuUThcPzzhjoc/18UBTWHSghE/Xg9lw4LQ0KEqFygSVsF1O4kHTauiqwayzyAyUNuJxckPL7ef8OI/NPzp8VmQHOtj+hRe1GXk4gVrGgiTy0HeahjmZcCLxN+SkqZ1c2FnZXOSs2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlkqZ0b3BpY3OVvXRlc3Rfb21zX2VuY3J5cHRlZF9oZWFydGJlYXRz2Sl0ZXN0X2RhdGFfZmlsZV9zdHJlYW1fcHJvY2Vzc29yX2VuY3J5cHRlZLJ0ZXN0X29tc19lbmNyeXB0ZWTZJHRlc3Rfb21zX3VuZGVjcnlwdGFibGVfbWVzc2FnZXNfZmxhZ790ZXN0X29tc191bmRlY3J5cHRhYmxlX21lc3NhZ2VzxCAxTJg6BDNb7GKi0BjXr5HLgQVsQXb4qre4mJfG99nyog==

[testing_node_2-kafka]

[testing_node_2-kafka-consumer]

[testing_node_2-kafka-producer]

[testing_node_2-kafka-crypto]

[testing_node_2-kafka-crypto-consumer]

[testing_node_2-kafka-crypto-producer]

