[DEFAULT]
node_id : testing_node_b

[testing_node_b]
mgmt_long_keyindex : True
cryptokey : file#testing_node_b.crypto
ratchet : file#testing_node_b.seed

[testing_node_b-allowlist]
rot0 : base64#kwDEAZDEIJSsMcv3TiBbSTy0svm44g61ZArvCl2M6u+D+LQU9KDD

[testing_node_b-denylist]

[testing_node_b-crypto]
maxage : 316224000

[testing_node_b-kafka]

[testing_node_b-kafka-consumer]

[testing_node_b-kafka-producer]

[testing_node_b-kafka-crypto]

[testing_node_b-kafka-crypto-consumer]

[testing_node_b-kafka-crypto-producer]

[testing_node_b-chains]
chain0 : base64#ksSa3Hq1E4eKrBt94S5eEgWFYWawbG9vEf7N/DpLRXEXFk4OmoTGByiaLDiRHggAffhWTkEFgF7HkGADz7yW02YjAJMAxDSRkqZ1c2FnZXOSs2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCA8DaD/44VqcMcxKhtfILpsXxB5B78nLi+Su1LB8tWYJsUBcIW8y1NkiQm+RK3BkdlqhUhDYr08WFTNoxAwA9j0T71Nv7OihlMLbXjODO3dIumS6vEDHf4H5UT5qRAd5eDXRQWTy0HelsOkhMxDxQEBk5KmdXNhZ2VzkrNrZXktZW5jcnlwdC1yZXF1ZXN0tWtleS1lbmNyeXB0LXN1YnNjcmliZZKmdG9waWNzlr90ZXN0X29tc191bmRlY3J5cHRhYmxlX21lc3NhZ2VzvXRlc3Rfb21zX2VuY3J5cHRlZF9oZWFydGJlYXRz2Sl0ZXN0X2RhdGFfZmlsZV9zdHJlYW1fcHJvY2Vzc29yX2VuY3J5cHRlZLd0ZXN0X29tc19lbmNyeXB0ZWRfbG9nc9kkdGVzdF9vbXNfdW5kZWNyeXB0YWJsZV9tZXNzYWdlc19mbGFnsnRlc3Rfb21zX2VuY3J5cHRlZJKncGF0aGxlbgHEIPb7QPVAj/DasPh5VXSbF/3xlOx5x4t31mS3BaU4MzQT

