[kafkacrypto]
node_id = testing_node_b

[broker]
bootstrap.servers = $LOCAL_KAFKA_BROKER_BOOTSTRAP_SERVERS

[producer]
key.serializer   = StringSerializer
value.serializer = StringSerializer

[consumer]
group.id           = create_new
auto.offset.reset  = earliest
key.deserializer   = StringDeserializer
value.deserializer = StringDeserializer
