[broker]
bootstrap.servers = $KAFKA_TEST_CLUSTER_BOOTSTRAP_SERVERS
sasl.mechanism    = PLAIN
security.protocol = SASL_SSL
sasl.username     = $KAFKA_TEST_CLUSTER_USERNAME
sasl.password     = $KAFKA_TEST_CLUSTER_PASSWORD

[consumer]
auto.offset.reset  = earliest
key.deserializer   = StringDeserializer
value.deserializer = StringDeserializer
