[broker]
bootstrap.servers = $KAFKA_TEST_CLUSTER_BOOTSTRAP_SERVERS
sasl.mechanism    = PLAIN
security.protocol = SASL_SSL
sasl.username     = $KAFKA_TEST_CLUSTER_USERNAME
sasl.password     = $KAFKA_TEST_CLUSTER_PASSWORD

[producer]
batch.size       = 2000000
linger.ms        = 100
compression.type = lz4
key.serializer   = StringSerializer
value.serializer = DataFileChunkSerializer

[consumer]
group.id           = create_new
auto.offset.reset  = earliest
enable.auto.commit = False
fetch.min.bytes    = 100000
key.deserializer   = StringDeserializer
value.deserializer = DataFileChunkDeserializer
