[broker]
bootstrap.servers = localhost:19092

[producer]
key.serializer = StringSerializer
value.serializer = DataFileChunkSerializer

[consumer]
group.id = create_new
auto.offset.reset = earliest
enable.auto.commit = False
key.deserializer = StringDeserializer
value.deserializer = DataFileChunkDeserializer