[broker]
bootstrap.servers = pkc-ep9mm.us-east-2.aws.confluent.cloud:9092
sasl.mechanism    = PLAIN
security.protocol = SASL_SSL
sasl.username     = $KAFKA_TEST_CLUSTER_USERNAME
sasl.password     = $KAFKA_TEST_CLUSTER_PASSWORD

[consumer]
group.id           = create_new
auto.offset.reset  = earliest
enable.auto.commit = False
fetch.min.bytes    = 100000
key.deserializer   = StringDeserializer
value.deserializer = DataFileChunkDeserializer

[producer]
key.serializer   = StringSerializer
value.serializer = StringSerializer