[DEFAULT]
node_id : testing_node

[testing_node]
mgmt_long_keyindex : True
cryptokey : file#testing_node.crypto
ratchet : file#testing_node.seed

[testing_node-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v

[testing_node-denylist]

[testing_node-crypto]
maxage : 316224000
chain : base64#ksSm8uBNYHoiK7XWra/XVnBtrxOOFpyZqu2Mc17iUavoim2Re4k7BL7f0qiDfgdTQGVNVDjh65cbwAsU4oVs+HL1AJMAxECRkqZ1c2FnZXOTq2tleS1lbmNyeXB0s2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCDMe0dHYFjYutctNrgKr0ISMwIVHhQuRhCvVv6bXd65J8TGQ5b5jbXq5gBf1mc0e5EeW2WQL/pJx/aG4xi1URoIhDaCcFyQZRNxtPGvsOkIeQeOGZuyt9lFeZ3FNOUx5PuSDJPLQd1JeSkRkyXEWJKSpnVzYWdlc5Ora2V5LWVuY3J5cHSza2V5LWVuY3J5cHQtcmVxdWVzdLVrZXktZW5jcnlwdC1zdWJzY3JpYmWSpnRvcGljc5GudGVzdF9lbmNyeXB0ZWTEIBr+Hc1Am/xc0IYyci5MA9SDHGG9z7lpT5cQrSq5oEfj
oldkeys : base64#NELZELdlASmnj9D/udCHnKrql/gJNBgXwi/V6B/zKHHrVF9TQ21i0VjVYFVM5Xt+QNrlVdXAeM3fJtmtHtxjX/2jC9r0BZal8UyYQNCxj0pV/V0rBNGJh83iiOJjCnG3qbSey70Rmbe1f3dvLjSGSFCYK2TUjPzB7XTCxzF3na2fNsglY2Hc15wxydR9MPXJ1xqBtVx+IZvLfM3Jyp0MvxlhlajIAaePDhfm2z98PtSuba3ezV4MtgGPbBRjIuawvxcDAR23g566fvhIJmtB74tpLpDkaD1VMIp9kDQbf+79m04XQ0kzqJYA

[testing_node-kafka]
bootstrap_servers : 
security_protocol : SSL
ssl_cafile : /usr/local/anaconda3/envs/openmsi/lib/python3.9/site-packages/certifi/cacert.pem

[testing_node-kafka-consumer]

[testing_node-kafka-producer]

[testing_node-kafka-crypto]

[testing_node-kafka-crypto-consumer]

[testing_node-kafka-crypto-producer]

