[DEFAULT]
node_id : testing_node

[testing_node]
mgmt_long_keyindex : True
cryptokey : file#testing_node.crypto
ratchet : file#testing_node.seed

[testing_node-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v

[testing_node-denylist]

[testing_node-crypto]
maxage : 316224000
chain : base64#ksSmvIUuuvKd7V5MXi7pSNdpSppfSjubBafS9CDCidlSpjC8r7aigHFIjR0exU3CUfdFIHC9kYeJIXDlrHLJ3GeuAJMAxECRkqZ1c2FnZXOTq2tleS1lbmNyeXB0s2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCBD5qGPFbJmbrG8IXJSrAC24dO6+5Iu4QnCN5QiDoMTxMTKmJ8wpDD9n+C7U36ctg9A5b5EHd42eEYUSUoFWdjuX5IQOzIvavwKOrBIOPAT+xQmJEuqHulfcdx6KawGZ0ddApPLQd1gM0TubLnEXJKSpnVzYWdlc5Ora2V5LWVuY3J5cHSza2V5LWVuY3J5cHQtcmVxdWVzdLVrZXktZW5jcnlwdC1zdWJzY3JpYmWSpnRvcGljc5GydGVzdF9vbXNfZW5jcnlwdGVkxCCFvGhB7pR8cSr9PImeSKrN3aQmguleKyInVMx6U0m0Wg==
oldkeys : base64#YeYuPWvRMf+b59QXflp+vI73UlAaCRt9CIK67ONLqTZUw8oPJE8fR+e9RxxmoF8IN2SUKk2dsoJPUWDtt25ZGee7fxBdLhRTE5/TMXgq6MNhKN8BWnUDJypuztIaBRDzFkZEmTLDJlluhHZzg0hL7l2Qk298TqV/LWGrVPI4Dxm5kYX3nd3suVRBC7RWBEdexuh9sv8bLo9LngJS+hQy47+SJf94mMCniEYK5BNU+ALTUcULQ5HMFY6a3zE4ehnuN92y4YW9nWz9MqTnGI489f0bA/aQu0Hy+YSLPU09g6wuxKOchUinMUog+Is5d6+x+mE=

[testing_node-kafka]
bootstrap_servers : 
security_protocol : SSL
ssl_cafile : /usr/local/anaconda3/envs/openmsistream/lib/python3.9/site-packages/certifi/cacert.pem

[testing_node-kafka-consumer]

[testing_node-kafka-producer]

[testing_node-kafka-crypto]

[testing_node-kafka-crypto-consumer]

[testing_node-kafka-crypto-producer]

