[broker]
bootstrap.servers = pkc-ep9mm.us-east-2.aws.confluent.cloud:9092
sasl.mechanism    = PLAIN
security.protocol = SASL_SSL
sasl.username     = $KAFKA_PROD_CLUSTER_USERNAME
sasl.password     = $KAFKA_PROD_CLUSTER_PASSWORD

[producer]
batch.size       = 200000
retries          = 2
linger.ms        = 100
compression.type = lz4
key.serializer   = StringSerializer
value.serializer = DataFileChunkSerializer

[consumer]
group.id           = create_new
auto.offset.reset  = earliest
enable.auto.commit = False
fetch.min.bytes    = 100000
key.deserializer   = StringDeserializer
value.deserializer = DataFileChunkDeserializer

