[DEFAULT]
node_id : testing_node

[testing_node]
mgmt_long_keyindex : True
cryptokey : file#testing_node.crypto
ratchet : file#testing_node.seed

[testing_node-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v

[testing_node-denylist]

[testing_node-crypto]
maxage : 316224000
chain : base64#ksSmvIUuuvKd7V5MXi7pSNdpSppfSjubBafS9CDCidlSpjC8r7aigHFIjR0exU3CUfdFIHC9kYeJIXDlrHLJ3GeuAJMAxECRkqZ1c2FnZXOTq2tleS1lbmNyeXB0s2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCBD5qGPFbJmbrG8IXJSrAC24dO6+5Iu4QnCN5QiDoMTxMTKmJ8wpDD9n+C7U36ctg9A5b5EHd42eEYUSUoFWdjuX5IQOzIvavwKOrBIOPAT+xQmJEuqHulfcdx6KawGZ0ddApPLQd1gM0TubLnEXJKSpnVzYWdlc5Ora2V5LWVuY3J5cHSza2V5LWVuY3J5cHQtcmVxdWVzdLVrZXktZW5jcnlwdC1zdWJzY3JpYmWSpnRvcGljc5GydGVzdF9vbXNfZW5jcnlwdGVkxCCFvGhB7pR8cSr9PImeSKrN3aQmguleKyInVMx6U0m0Wg==
oldkeys : base64#FXyBsq6FxTbI7EgQzcslrr7IfPu4KIjVvuthiHK+nCDrJ67oSg4/V+H9XuzQqNAi2P3j0zNgAlh209042yVVS0zdVm87BYDD1aw+x3hldv2WnLxAG1UsnN6HpB8ZNb7nXDdpqBXQuRBl9c4A9xErncaH23IiQc9I0ry6N8kchl9QCv0b+PCOOSZqgm1uA19gTQBV84AFA3+Zc9+5q1ODhyFETMRe88SDG/J31TbC39oMzu7DORviuitMs4CCYDiet+Us3/A9S5qOZGSj+6BlfWyQ3FbM5tbxh+EfolwJI2Q25QkClplom4XtQWSdIjzfNLnZsL3B71oJ64AWRCEp9fDHq8x5xJCqOkwZHVeiw9UWSUA8kW94vmciujs3pz3C3aeBvJ2pb4NgihtZjkhR1rp66ajNNPR6qCEv4yNc2FVdxW2j//Zq7c1oVg/sAjkXNJZ4v77qe+qCkrXkl1iBM/r6TzcQnwFlDinK+iAvLnjwpP8JYXFxfn76D0iH+/NofHEWgbkLo8q1bNeAQlOsamGxcdZMiDWlbT5ozQQc6InklvIeD+7psaLCEeB09+Yvwh2xnoy7cb9ZghHPAQc+E9VeFlsjXSqIg1Xrsi9MDsrVeh2Quz2cfhLQnzP1JaMfc9B3ThQobUUlz+JjMlNVfTKFZyfdk6tyRK6jIj+rRYVsIgnyg400dLUI5WVDrTD8qUDQiudUB6Ukvm1RNe3bVqtBKwKmH0RZEqAtTvbQu+f5s6N3uePFyZ3BFAfE5G2CrZOsBHdyAMLCaOw6R7ootqDLOPrqUqo3jcJkM4SnnUDEkT2b4SfQPgyyYncq7tQOZZlhKVPY

[testing_node-kafka]
bootstrap_servers : 
security_protocol : SSL
ssl_cafile : /usr/local/anaconda3/envs/openmsistream/lib/python3.9/site-packages/certifi/cacert.pem

[testing_node-kafka-consumer]

[testing_node-kafka-producer]

[testing_node-kafka-crypto]

[testing_node-kafka-crypto-consumer]

[testing_node-kafka-crypto-producer]

