[DEFAULT]
node_id : testing_node

[testing_node]
mgmt_long_keyindex : True
cryptokey : file#testing_node.crypto
ratchet : file#testing_node.seed

[testing_node-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v

[testing_node-denylist]

[testing_node-crypto]
maxage : 316224000
chain : base64#ksSmvIUuuvKd7V5MXi7pSNdpSppfSjubBafS9CDCidlSpjC8r7aigHFIjR0exU3CUfdFIHC9kYeJIXDlrHLJ3GeuAJMAxECRkqZ1c2FnZXOTq2tleS1lbmNyeXB0s2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCBD5qGPFbJmbrG8IXJSrAC24dO6+5Iu4QnCN5QiDoMTxMTKmJ8wpDD9n+C7U36ctg9A5b5EHd42eEYUSUoFWdjuX5IQOzIvavwKOrBIOPAT+xQmJEuqHulfcdx6KawGZ0ddApPLQd1gM0TubLnEXJKSpnVzYWdlc5Ora2V5LWVuY3J5cHSza2V5LWVuY3J5cHQtcmVxdWVzdLVrZXktZW5jcnlwdC1zdWJzY3JpYmWSpnRvcGljc5GydGVzdF9vbXNfZW5jcnlwdGVkxCCFvGhB7pR8cSr9PImeSKrN3aQmguleKyInVMx6U0m0Wg==
oldkeys : base64#Oj6nExWU6cosnBZXb3x0vxmUVybmcaryKXiRku4DT2EG9DGrOv2hGV4h84C7sZ1qYYJsEszFjmmVKqj3WDor653Mczuj8qHzfnUNmrNgzePk//FVF1idLlvAlTpE5wUo7AzD04s0DEcmcqez0cOdkWoEHK/vKOmxQdVPg/49Cji7mVViYNsJvGQWqu5cz2tLOifetEowc0axvVb2hvyd6Tg6ERmrKz7hc/WskDdmAOEMO3+JWy5LN+Si63ZdVRqV3+KJi7pSbIcOiiB3E/Lh5aZx9RUMYQ9Kdwf2hnWPHLUJ7YI40b6dWIMnCdC52Vx5xSM=

[testing_node-kafka]
bootstrap_servers : 
security_protocol : SSL
ssl_cafile : /usr/local/anaconda3/envs/openmsistream/lib/python3.9/site-packages/certifi/cacert.pem

[testing_node-kafka-consumer]

[testing_node-kafka-producer]

[testing_node-kafka-crypto]

[testing_node-kafka-crypto-consumer]

[testing_node-kafka-crypto-producer]

