[DEFAULT]
node_id : testing_node_2b

[testing_node_2b]
mgmt_long_keyindex : True
cryptokey : file#testing_node_2b.crypto
ratchet : file#testing_node_2b.seed

[testing_node_2b-allowlist]
rot0 : base64#kwDEAZDEIJSsMcv3TiBbSTy0svm44g61ZArvCl2M6u+D+LQU9KDD

[testing_node_2b-denylist]

[testing_node_2b-crypto]
maxage : 316224000

[testing_node_2b-kafka]

[testing_node_2b-kafka-consumer]

[testing_node_2b-kafka-producer]

[testing_node_2b-kafka-crypto]

[testing_node_2b-kafka-crypto-consumer]

[testing_node_2b-kafka-crypto-producer]

[testing_node_2b-chains]
chain0 : base64#ksSa3Hq1E4eKrBt94S5eEgWFYWawbG9vEf7N/DpLRXEXFk4OmoTGByiaLDiRHggAffhWTkEFgF7HkGADz7yW02YjAJMAxDSRkqZ1c2FnZXOSs2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCA8DaD/44VqcMcxKhtfILpsXxB5B78nLi+Su1LB8tWYJsUBcBvN/LLyf79FxLoBMolTMuoheRAhvxY2g7pPp2pLPSc0lGVhXswJPeHD6tN9Rk2JGV2ZBDMAJWOX4xXAfxz5hAmTy0HelsOtzohTxQEBk5KmdXNhZ2VzkrNrZXktZW5jcnlwdC1yZXF1ZXN0tWtleS1lbmNyeXB0LXN1YnNjcmliZZKmdG9waWNzlr90ZXN0X29tc191bmRlY3J5cHRhYmxlX21lc3NhZ2Vz2SR0ZXN0X29tc191bmRlY3J5cHRhYmxlX21lc3NhZ2VzX2ZsYWe3dGVzdF9vbXNfZW5jcnlwdGVkX2xvZ3O9dGVzdF9vbXNfZW5jcnlwdGVkX2hlYXJ0YmVhdHOydGVzdF9vbXNfZW5jcnlwdGVk2Sl0ZXN0X2RhdGFfZmlsZV9zdHJlYW1fcHJvY2Vzc29yX2VuY3J5cHRlZJKncGF0aGxlbgHEILqgZ+wZvNKd+YyNi3O4gTFUwQ28wajsBSFfv20+Ktfe

