[DEFAULT]
node_id : reproduce-encrypted-letters
log_level : 20

[reproduce-encrypted-letters]

[reproduce-encrypted-letters-crypto]

[reproduce-encrypted-letters-kafka]
bootstrap_servers : YOUR-KAFKA-SERVER:9093
security_protocol : SSL
ssl_cafile : /etc/pki/tls/cert.pem

[reproduce-encrypted-letters-kafka-consumer]
session_timeout_ms : 180000
heartbeat_interval_ms : 60000
max_partition_fetch_bytes : 33556480

[reproduce-encrypted-letters-kafka-producer]
max_request_size : 33556480

[reproduce-encrypted-letters-kafka-crypto]

[reproduce-encrypted-letters-kafka-crypto-consumer]
session_timeout_ms :
heartbeat_interval_ms :
max_partition_fetch_bytes :

[reproduce-encrypted-letters-kafka-crypto-producer]
max_request_size : 
